*.iml
*.apk
*.rknn
*.zip
local.properties
.idea
.gradle
build/
.cxx/
gradle/wrapper/gradle-wrapper.properties
/data/data.iml
/domain/domain.iml
/views/views.iml
/utils/utils.iml
cmake-build-*/
/libtfl/.externalNativeBuild/
.DS_Store
/gpucore/.externalNativeBuild/
/utils/.externalNativeBuild/
/opencv/.externalNativeBuild/


keystore/jks.png
keystore/private_key.pepk
keystore/QtimesDebug.jks
keystore/QtimesRelease.jks
keystore/RK3399Pro.jks
keystore/Toycrick.jks
